:root {
  --primary-color: #542e90;
  --secondary-color: #fff200;
  --padding-inline: 375px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;

}

html,
body {
  width: 1920px;
  overflow-x: hidden;

}

a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}
object {
  cursor: inherit;
}
