.carousel {
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 32px;
  padding-bottom: 32px;
  display: flex;
  .card {
    margin-inline-end: 32px;
    padding: 8px 7px;
    border: 0.75px solid #ececec;
    border-radius: 5px;
    width: 268px;
    height: 440px;
    .imageContainer {
      position: relative;
      width: 254px;
      height: 254px;
      .image {
        height: 100%;
      }
      .display360 {
        position: absolute;
        top: 8px;
        left: 8px;
        padding: 6px 5px;
        background-color: white;
        box-shadow: 0px 0px 1px #00000040;
        border-radius: 7px;
        width: 40px;
        height: 40px;
        img {
          height: 100%;
        }
      }
    }
    .details {
      margin-top: 9px;
      margin-inline: 8px;
      width: 100%;
      .name {
        font-size: 14px;
        font-weight: 700;
        color: #1d1d1b;
      }
      .priceAndBrand {
        margin-block: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price {
          flex: 60%;
          display: flex;
          flex-wrap: wrap;
          .current {
            color: var(--primary-color);
            font-size: 20px;
            font-weight: 650;
            &::after {
              content: " LE";
              font-size: 14px;
              font-weight: 600;
            }
          }
          .old {
            margin-inline-end: 15px;
            color: #a7a9ac;
            text-decoration: line-through;
            font-size: 14px;
            font-weight: 650;
            &::after {
              content: " LE";
            }
          }
          .discount {
            background-color: var(--secondary-color);
            padding: 4px 6px;
            border-radius: 3px;
            font-weight: 600;
            font-size: 10px;
          }
        }
        .brand {
          flex: 40%;
          img {
            width: 56px;
          }
        }
      }
      .rating {
        display: flex;
        align-items: center;
        justify-content: center;
        .stars {
          display: flex;
          align-items: center;
          button {
            margin-inline-end: 5.5px;
            img {
              width: 17px;
            }
          }
        }
        .rate {
          margin-inline: 13px;
          font-size: 14px;
          font-weight: 650;
        }
      }
      .location {
        margin-top: 11px;
        text-align: center;
        font-size: 10px;
      }
    }
  }
}
.carousel::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 25%,
    rgba(217, 217, 217, 1) 25%,
    rgba(217, 217, 217, 1) 75%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0) 100%
  );
}

.carousel::-webkit-scrollbar {
  height: 7px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #542e90;
}